<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HastaneRandevuSistemi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HastaneRandevuSistemi.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/images.png" alt="Hastane Logo" class="image" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <button type="button"
                                    class="btn btn-secondary dropdown-toggle"
                                    data-bs-toggle="dropdown">
                                @_localization.Getkey("Dil").Value
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a asp-controller="Home"
                                       asp-action="ChangeLanguage"
                                       asp-route-culture="en-US"
                                       class="dropdown-item">
                                        <i class="flag-icon flag-icon-us"></i> English
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Home"
                                       asp-action="ChangeLanguage"
                                       asp-route-culture="tr-TR"
                                       class="dropdown-item">
                                        <i class="flag-icon flag-icon-tr"></i> Türkçe
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="collapse navbar-collapse">
                    
                    <ul class="navbar-nav ms-auto">
                        @inject IHttpContextAccessor HttpContextAccessor
                        @if (HttpContextAccessor.HttpContext.Session.GetString("SessionUser") is null)
                        {
                            <li class="nav-item">
                                <a class="btn btn-primary nav-link text-dark" asp-area="" asp-controller="Hasta" asp-action="Giris">@_localization.Getkey("Giris Yap").Value</a>
                            </li>
                        }
                        else if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Hasta")
                        {
                            <li class="nav-item">
                                <a class="btn btn-danger nav-link text-dark me-2" asp-area="" asp-controller="Randevu" asp-action="RandevuAl">@_localization.Getkey("Randevu Al").Value</a>
                            </li>

                            <li class="nav-item">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @_localization.Getkey("Hesap").Value
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" asp-area="" asp-controller="Hasta" asp-action="Index">@_localization.Getkey("Detay").Value</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Hasta" asp-action="RandevuListesi">@_localization.Getkey("Randevu").Value</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="" asp-controller="Hasta" asp-action="CikisYap">@_localization.Getkey("Cikis Yap").Value</a>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="btn btn-danger nav-link text-dark" asp-area="" asp-controller="Hasta" asp-action="CikisYap">@_localization.Getkey("Cikis Yap").Value</a>
                            </li>
                        }
                        

                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HastaneRandevuSistemi
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>