@model IEnumerable<HastaneRandevuSistemi.Models.Hasta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Kayıt Ol</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Isim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KimlikNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DogumTarihi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            @inject IHttpContextAccessor HttpContextAccessor
            @if (item.KimlikNo == HttpContextAccessor.HttpContext.Session.GetString("SessionUser"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Isim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KimlikNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DogumTarihi)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }   
    </tbody>
</table>
